<div class="container donation-container py-5">
    <div class="tab-header name_allah" (click)="goBack()">
        <i class="fa-solid fa-chevron-left"></i> Kembali
    </div>

    <div class="hajiUmrah-section pt-10">
        <div class="p-3">
            <img
                src="assets/images/haji-umrah/TEMPAT BERSEJARAH/TEMPAT_BERSEJARAH.png"
            />
        </div>
        <h2>TEMPAT BERSEJARAH</h2>
        <h3>Tempat dan Lokasi Bersejarah</h3>
        <div class="p-4 hajiUmrah-section">
            <h2>MADINAH</h2>
            <ol class="px-4">
                <!-- Madinah-1 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Masjid Nabawi</strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/TEMPAT BERSEJARAH/Masjid-Nabawi.jpg"
                        />
                        <p>
                            Tempat Bersejarah yang dapat dikunjungi saat Umroh
                            dan Haji – Masjid Nabawi didirikan pada tahun
                            pertama Hijriyah. Dalam proses pembangunannya, Nabi
                            Muhammad meletakkan batu pertama. Sementara, batu
                            kedua, ketiga, keempat, dan kelima dilakukan oleh
                            sahabat Nabi yaitu Abu Bakar Ash Shidiq, Umar bin
                            Khattab, Usman bin Affan, dan Ali bin Abi Thalib.
                        </p>
                        <p>
                            Saat itu, kiblat masih menghadap Baitul Maqdis,
                            Palestina, karena belum turun perintah Allah untuk
                            menghadap Kabah. Di lokasi sekitar masjid dibangun
                            tempat keluarga Rasulullah SAW. Di sebelah timur
                            Masjid Nabawi dibangun rumah Siti Aisyah yang
                            kemudian menjadi tempat Nabi Muhammad dan kedua
                            sahabatnya dimakamkan.
                        </p>
                        <p>
                            Di dalam Masjid Nabawi, ada bagian-bagian yang
                            menjadi tujuan jemaah, di antaranya:
                        </p>
                        <ul class="list-disc">
                            <li>Raudah</li>
                            <li>
                                Raudah berada di dalam Masjid Nabawi. Letaknya
                                ditandai dengan tiang-tiang putih yang berada di
                                antara rumah Siti Aisyah (yang sekarang menjadi
                                makam Rasulullah SAW) sampai mimbar masjid.
                                Raudah menjadi tempat di mana segala doa yang
                                dipanjatkan diyakini akan dikabulkan.
                            </li>
                            <li>Makam Nabi Muhammad SAW</li>
                            <li>
                                Dulu, makam Rasulullah dinamakan Maqsurah.
                                Setelah masjid diperluas, makam Nabi termasuk di
                                dalam bangunan masjid.
                            </li>
                            <li>
                                Perlu diketahui, Masjid Nabawi hanya dibuka
                                untuk jemaah pada pukul 03.00-22.00 waktu Arab
                                Saudi. Ada waktu-waktu yang ditentukan untuk
                                melakukan ziarah. Jemaah perempuan bisa
                                mengunjungi Raudah dan berziarah ke makam
                                Rasulullah SAW hanya pada pukul 07.00 -10.00 dan
                                setelah shalat Isya hingga pukul 22.00 waktu
                                setempat. Tempat berziarah perempuan juga
                                terpisah dengan tempat berziarah laki-laki.
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Madinah-2 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Masjid Quba </strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/TEMPAT BERSEJARAH/Masjid-Quba.png"
                        />
                        <p>
                            Quba merupakan sebuah desa di sebelah barat daya
                            Madinah. Ketika Nabi hijrah ke Madinah, penduduk
                            Quba adalah orang-orang pertama yang menyambut
                            kedatangannya. Masjid Quba adalah masjid pertama
                            yang didirikan oleh Nabi Muhammad SAW. Masjid ini
                            dibangun di atas sebidang tanah yang dibeli
                            Rasulullah dari Kalsum bin Hadam. Pembangunan Masjid
                            Quba dilakukan dua kali. Pertama, ketika kiblat
                            masjid menghadap Baitul Maqdis. Kedua, ketika kiblat
                            menghadap Baitullah atau Kabah.
                        </p>
                    </div>
                </li>
                <!-- Madinah-3 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Jabal Uhud</strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/TEMPAT BERSEJARAH/Jabal-Uhud.jpg"
                        />
                        <p>
                            Jabal Uhud atau Bukit Uhud menjadi salah satu situs
                            bersejarah yang dikunjungi jemaah umrah maupun haji
                            saat berada di Madinah. Bukit ini merupakan bukit
                            terbesar di Madinah. Letak Jabal Uhud sekitar 5
                            kilometer dari pusat kota Madinah. Dalam sejarahnya,
                            di lembah Bukit Uhud pernah terjadi perang dahsyat
                            antara 700 kaum Muslimin melawan 3.000 kaum
                            Musyrikin Makkah. Sebanyak 70 pejuang Muslim gugur
                            dalam pertempuran itu, termasuk paman Nabi Muhammad
                            SAW yaitu Hamzah bin Abdul Muthalib.
                        </p>
                    </div>
                </li>
                <!-- Madinah-4 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Masjid Miqat</strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/TEMPAT BERSEJARAH/Masjid-Miqat.jpg"
                        />
                        <p>
                            Masjid Miqat atau Masjid al-Muhrim merupakan masjid
                            tempat Rasulullah SAW dan para sahabatnya mengambil
                            miqat untuk berihram. Masjid al-Muhrim juga dikenal
                            dengan nama Masjid Bir Ali dan menjadi destinasi
                            wajib jemaah untuk mengambil miqat. Masjid Bir Ali
                            berlokasi di Zul Hulaifah, sekitar 10 kilometer dari
                            Masjid Nabawi.
                        </p>
                    </div>
                </li>
                <!-- Madinah-5 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color"
                            >Masjid Qiblatain
                        </strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/TEMPAT BERSEJARAH/Masjid-Qiblatain.jpg"
                        />
                        <p>
                            Awalnya, Masjid Qiblatain dikenal dengan nama Masjid
                            Bani Salamah karena lokasi masjid ini berada di atas
                            tanah bekas rumah Bani Salamah. Sebelum malaikat
                            menurunkan wahyu kepada Nabi Muhammad SAW untuk
                            menjadikan Kabah di Masjidil Haram sebagai kiblat,
                            umat Islam shalat masih menghadap Baitul Maqdis di
                            Yerusalem, Palestina. Pada tahun kedua Hijriyah,
                            turun wahyu yang memerintahkan Nabi Muhammad SAW
                            untuk menjadikan Kabah sebagai kiblat.
                        </p>
                        <p>
                            Ketika shalat Ashar, para sahabat Rasulullah yang
                            tengah berjamaah di Masjid Qiblatain masih menghadap
                            Baitul Maqdis. Di tengah berlangsungnya shalat,
                            datang seorang sahabat yang berteriak dan
                            menyebutkan bahwa Nabi Muhammad dan para sahabatnya
                            di Masjid Nabawi telah beralih kiblat ke Masjidil
                            Haram. Imam dan makmum yang tengah shalat kemudian
                            mengubah arah kiblatnya. Inilah sejarah di balik
                            penamaan Masjid Bani Salamah menjadi Masjid
                            Qiblatain yang artinya masjid berkiblat dua.
                        </p>
                    </div>
                </li>
            </ol>
            <div class="divider-image">
                <img
                    src="assets/images/islamic-knowledge/Rukun_imam logos/divider2.png"
                    alt="divider"
                />
            </div>
            <div class="p-4">
                <h2>Makkah</h2>
                <ol class="px-4">
                    <!-- Makkah -1 -->
                    <li>
                        <div class="p-3">
                            <strong class="hajiUmrah-color"
                                >Masjidil Haram dan Kabah
                            </strong>
                            <img
                                class="pt-2"
                                src="assets/images/haji-umrah/TEMPAT BERSEJARAH/Makkah-1.jpg"
                            />
                            <p>
                                Masjidil Haram adalah tempat jemaah haji maupun
                                umrah berkumpul untuk melakukan thawaf, sa’i,
                                shalat, dan itikaf. Di dalam Masjidil Haram
                                terdapat Kabah yang menjadi kiblat bagi umat
                                muslim di seluruh dunia. Masjidil Haram dibangun
                                kembali oleh Khalifah Umar bin Khattab pada 17
                                Hijriyah. Bangunan Masjidil Haram terdiri atas 4
                                lantai dengan 95 pintu masuk pada bangunan lama
                                dan 79 pintu pada bangunan baru.
                            </p>
                            <p>
                                Kabah dibangun kembali oleh Nabi Ibrahim AS
                                setelah sempat rata dengan tanah. Letak Ka'bah
                                yang dibangun oleh Nabi Ibrahim AS berada tepat
                                di lokasi Kabah yang dibangun oleh Nabi Adam AS
                            </p>
                        </div>
                    </li>
                    <!-- makkah-2 -->
                    <li>
                        <div class="p-3">
                            <strong class="hajiUmrah-color"
                                >Gua Hira di Jabal Nur</strong
                            >
                            <img
                                class="pt-2"
                                src="assets/images/haji-umrah/TEMPAT BERSEJARAH/Makkah-2.jpg"
                            />
                            <p>
                                Jabal Nur berlokasi sekitar 6 kilometer sebelah
                                utara Masjidil Haram. Di puncak Jabal Nur
                                terdapat Gua Hira. Gua Hira merupakan tempat di
                                mana Nabi Muhammad SAW menerima wahyu pertama,
                                Surat Al Alaq ayat 1-5.
                            </p>
                        </div>
                    </li>
                    <!-- makkah-3 -->
                    <li>
                        <div class="p-3">
                            <strong class="hajiUmrah-color"
                                >Maulid Nabi
                            </strong>
                            <img
                                class="pt-2"
                                src="assets/images/haji-umrah/TEMPAT BERSEJARAH/Makkah-3.jpg"
                            />
                            <p>
                                Yang dimaksud dengan Maulid Nabi adalah tempat
                                Nabi Muhammad lahir. Kini, rumah tempat Nabi
                                lahir telah berubah menjadi perpustakaan yang
                                terletak di sebelah timur halaman timur Masjidil
                                Haram. Awalnya, rumah kelahiran Nabi itu
                                diberikan kepada putra Abu Thalib, Aqil.
                                Kemudian, tempat ini juga sempat beralih
                                kepemilikan dan dibangun menjadi masjid, hingga
                                dipugar menjadi perpustakaan pada 1950 oleh
                                Syaikh Abbas Qatthan dengan uang pribadinya.
                            </p>
                        </div>
                    </li>
                    <!-- makkah-4 -->
                    <li>
                        <div class="p-3">
                            <strong class="hajiUmrah-color"
                                >Jabal Rahmah
                            </strong>
                            <img
                                class="pt-2"
                                src="assets/images/haji-umrah/TEMPAT BERSEJARAH/Makkah-4.jpg"
                            />
                            <p>
                                Menurut riwayat, setelah berpisah cukup lama,
                                Nabi Adam AS dan Siti Hawa saling mencari dan
                                akhirnya bertemu di puncak Jabal Rahmah, yang
                                berada di Arafah. Di puncak Jabal Rahmah ada
                                sebuah tugu. Tugu tersebut merupakan monumen
                                untuk mengingatkan umat muslim akan peristiwa
                                tersebut.
                            </p>
                        </div>
                    </li>
                    <!-- Madinah-5 -->
                    <li>
                        <div class="p-3">
                            <strong class="hajiUmrah-color"
                                >Masjid Hudaibiyah
                            </strong>
                            <img
                                class="pt-2"
                                src="assets/images/haji-umrah/TEMPAT BERSEJARAH/Makkah-5.jpg"
                            />
                            <p>
                                Masjid Hudaibiyah terletak di wilayah
                                Hudaibiyah, yang berlokasi sekitar 25 kilometer
                                dari Masjidil Haram. Kini, wilayah Hudaibiyah
                                dikenal dengan nama daerah Al-Syumaisyi. Di
                                daerah Hudaibiyah pernah terjadi perdamaian
                                antara Rasulullah dengan orang-orang kafir
                                Makkah yang terkenal dengan Perdamaian
                                Hudaibiyah.
                            </p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <button
            class="scroll-to-top"
            *ngIf="showScrollToTop"
            (click)="scrollToTop()"
            aria-label="Scroll to top"
        >
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
</div>
