.actionCenterWidth {
    width: 30px;
}
.actionCenter {
    text-align: center;
}
.actWidthCenter {
    width: 5px;
    text-align: center;
}

#myDialog {
    min-width: 450px !important;
    min-height: 355px !important;
}
.dTitle {
    text-align: center;
    font-weight: 500;
    padding: 10px;
}
.dTitleBar {
    background: #173f53;
    color: white;
}
.colNumeric {
    width: 130px !important;
    text-align: right;
    justify-content: flex-end;
}
