::ng-deep .theme-default .light .mat-mdc-unelevated-button.mat-unthemed,
.theme-default.light .mat-mdc-unelevated-button.mat-unthemed:not(:disabled) {
    --mdc-filled-button-container-color: #f5f5f5 !important
}

.printable {
    display: block !important;
    visibility: visible !important;
  }