.container {
    display: flex;
  }
  
  .sidebar {
    width: 200px; /* Adjust width as needed */
    background-color: white;
    border-right-style:inset; /* Example background color */
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .toolbar {
    height: 50px; /* Adjust height as needed */
    background-color: white; 
    border-bottom-style: inset;
    /* Example background color */
  }
  
  #video-canvas {
    padding: 0px 20px;
    flex-grow: 1;
    width: 50%;
    
  }
  