<div class="container donation-container py-5">
    <div class="tab-header name_allah" (click)="goBack()">
        <i class="fa-solid fa-chevron-left"></i> Kembali
    </div>

    <div class="hajiUmrah-section pt-10">
        <div class="p-3">
            <img src="assets/images/haji-umrah/mustajab-doa/tempa_doa.jpg" />
        </div>
        <h2>TEMPAT-TEMPAT MUSTAJAB DOA</h2>
        <div class="p-4 hajiUmrah-section">
            <ol class="px-4">
                <!-- destinasi 1 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">MULTAZAM</strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/mustajab-doa/tempa-doa1.png"
                        />
                        <p>
                            Multazam adalah tempat mustajab untuk berdoa.
                            Lokasinya berada di antara sudut Hajar Aswad dan
                            pintu Ka'bah.
                        </p>
                        <p>
                            Sebagian besar ulama sepakat bahwa Multazam adalah
                            tempat yang sangat mustajab untuk berdoa bagi umat
                            muslim yang sedang menjalani umroh atau haji.
                        </p>
                        <p>
                            Banyak jemaah yang memanfaatkan waktu mereka di sini
                            untuk memohon ampunan, keberkahan, dan segala macam
                            hajat kepada Allah SWT.
                        </p>
                    </div>
                </li>
                <!-- destinasi 2 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">HIJIR ISMAIL</strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/mustajab-doa/tempa-doa2.png"
                        />
                        <p>
                            Tempat mustajab di Mekkah selanjutnya adalah Hijir
                            Ismail. Letak Hijir Ismail ini berada di bawah Mizab
                            atau pancuran Ka'bah.
                        </p>
                        <p>
                            Area Hijir Ismail ini berbentuk setengah lingkaran
                            di sisi utara Ka'bah. Tempat ini merupakan lokasi
                            yang memiliki keutamaan khusus. Bahkan, jemaah haji
                            atau umrah biasanya menyempatkan diri berlama-lama
                            memanjatkan doa di sini.
                        </p>
                    </div>
                </li>
                <!-- destinasi 3 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">DI DALAM KA'BAH</strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/mustajab-doa/tempa-doa3.png"
                        />
                        <p>
                            Bagian dalam Ka'bah memang tidak bisa dimasuki
                            sembarangan orang. Namun, ruangan tersebut dipercaya
                            sebagai tempat mustajab untuk berdoa.
                        </p>
                        <p>
                            Rasulullah SAW pernah membawa Aisyah Ra ke Hijir
                            Ismail saat Aisyah meminta izin untuk shalat di
                            dalam Ka'bah. Saat itu, Rasulullah Saw bersabda,
                            "Shalatlah di sini kalau ingin salat di dalam
                            Ka'bah, karena ini termasuk bagian dari Ka'bah."
                        </p>
                    </div>
                </li>
                <!-- destinasi 4 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">RUKUN YAMANI</strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/mustajab-doa/tempa-doa4.png"
                        />
                        <p>
                            Rukun Yamani masih termasuk tempat mustajab di
                            Mekkah untuk berdoa. Letak Rukun Yamani ini berada
                            di sisi sebelah barat daya Ka'bah, yaitu sebelum
                            Hajar Aswad dari arah melakukan tawaf.
                        </p>
                        <p>
                            Apabila sedang berada di area ini, jemaah dianjurkan
                            untuk mengusapnya sambil berdoa. Tempatnya dinamakan
                            Rukun Yamani karena menghadap ke barat laut atau
                            negeri Syam.
                        </p>
                    </div>
                </li>
                <!-- destinasi 5 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color"
                            >SHAFA DAN MARWAH</strong
                        >
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/mustajab-doa/tempa-doa5.png"
                        />
                        <p>
                            Shafa dan Marwah merupakan bukit yang memiliki nilai
                            historis karena berkaitan dengan perjuangan Siti
                            Hajar mencari air untuk putranya Ismail AS. Berdoa
                            di atas kedua bukit ini, terutama saat melakukan
                            sa'i, sangat dianjurkan.
                        </p>
                        <p>
                            Selain itu, berdoa di antara Shafa dan Marwah
                            dianggap penuh berkah, dan setiap langkah yang
                            dilakukan selama sa'i menjadi amal jariyah yang
                            besar pahalanya.
                        </p>
                    </div>
                </li>
                <!-- destinasi 6 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">MAQAM IBRAHIM</strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/mustajab-doa/tempa-doa6.png"
                        />
                        <p>
                            Maqam Ibrahim terletak berdekatan dengan Hijr
                            Ismail, di mana Nabi Ibrahim AS berdiri saat
                            membangun Ka'bah.
                        </p>
                        <p>
                            Di tempat tersebut terdapat sebuah batu yang
                            dipercaya sebagai jejak kaki Nabi Ibrahim yang
                            terabadikan. Di sekitar Maqam Ibrahim, terdapat juga
                            sebuah tempat yang sering digunakan untuk berdoa
                            oleh para jemaah.
                        </p>
                    </div>
                </li>
                <!-- destinasi 7 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color"
                            >Muzdalifah dan Mina
                        </strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/mustajab-doa/tempa-doa7.png"
                        />
                        <p>
                            Muzdalifah dan Mina lokasinya sekitar 10 KM dari
                            Mekkah, dan area ini termasuk tempat mustajab untuk
                            berdoa saat umroh atau haji.
                        </p>
                        <p>
                            Muzdalifah berada pada satu wilayah sempit antara
                            dua gunung yang berdekatan setelah Arafah. Sedangkan
                            Mina, letaknya antara Mekkah dan Muzdalifah.
                        </p>
                        <p>
                            Meskipun doa bisa dipanjatkan di mana saja, tetapi
                            berdoa di tempat mustajab di Mekkah diyakini menjadi
                            lokasi doa mudah dikabulkan Allah Swt.
                        </p>
                    </div>
                </li>
            </ol>
            <button
                class="scroll-to-top"
                *ngIf="showScrollToTop"
                (click)="scrollToTop()"
                aria-label="Scroll to top"
            >
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
    </div>
</div>
