.child-table-container {
    margin-top: 10px;
    border-top: 2px solid #006e8c; /* Blue line to separate */
    padding-top: 10px;
    background-color: #f9f9f9; /* Light background for child table */
}
.child-table {
    width: 100%;
}
.child-table th {
    background-color: #01949a;
}
.netAmount {
    font-weight: 700;
    color: #006e8c;
}
