.breadCrum{
    cursor: pointer;
    text-align: right;
}
.actionCenterWidth{
    width: 30px;
}
.actionCenter{
    text-align: center;
}
.actWidthCenter{
    width: 5px;
    text-align: center;
}
.disOrder{
    width: 135px !important;
    text-align: center;
}