.max-width-rem63{
    max-width: 63rem !important;
}
.example-month-picker .mat-calendar-period-button {
    pointer-events: none !important;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none !important;
  }