<div class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div>
         <div class="page-title justify-between flex">
             <span>{{'Functions.functions' | translate }}</span>
             <div class="page-sub-title">
                 <a class="mr-1 text-xl">{{ actList?.length }}</a>
                 <span class="float-right"> {{'Functions.totalfunctions' | translate }} </span>
             </div>
         </div>        
         <div class=" flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pb-4 px-6 md:px-4">
             <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                 <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
             </div>
             <div class="">
                 <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                     <mat-label>{{'Functions.search' | translate }}</mat-label>
                     <mat-icon matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                     <input matInput [formControl]="searchInputControl" (keyup)="applyFilter($event.target.value)"
                         [autocomplete]="'off'" placeholder="{{'Functions.search' | translate }}">
                 </mat-form-field>
             </div>               
             <!-- <div class="flex shrink-0 items-center mt-6 sm:mt-0">
                <div *ngFor="let action of currentActions?.childMenuActions">
                    <button mat-flat-button [color]="'primary'" *ngIf="action?.actionNameId === 'Add'" (click)="addBusinessAction()">
                        <span class="ml-2 mr-1">{{action?.actionName}}</span>
                    </button>   
                </div>                       
             </div>          -->
         </div>
         <div class="flex flex-auto overflow-hidden">
             <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto sm:justify-between px-6 md:px-4">
                 <table mat-table [dataSource]="dataSource">
                     
                     <ng-container matColumnDef="name">
                         <th mat-header-cell *matHeaderCellDef> {{'Functions.functionName' | translate }} </th>
                         <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                     </ng-container>                
 
                     <ng-container matColumnDef="description">
                         <th mat-header-cell *matHeaderCellDef> {{'Functions.functionDescription' | translate }} </th>
                         <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                     </ng-container>
 
                     <ng-container matColumnDef="displayOrder">
                         <th mat-header-cell *matHeaderCellDef class="colNumeric"> {{'Functions.displayOrder' | translate }} </th>
                         <td mat-cell *matCellDef="let element" class="colNumeric"> {{element.displayOrder}} </td>
                     </ng-container>

                     <ng-container matColumnDef="updatedOn">
                        <th mat-header-cell *matHeaderCellDef class="colNumeric"> {{'Functions.updatedDate' | translate }} </th>
                        <td mat-cell *matCellDef="let element" class="colNumeric">
                            <div> {{element.updatedOn | date:'dd/MM/yyyy'}} </div>
                            <div class="text-sm text-disabled"> {{element?.updatedOn | date:'shortTime'}} </div>
                        </td>
                    </ng-container>

                     <ng-container matColumnDef="isActive">
                         <th mat-header-cell *matHeaderCellDef class="actionCenter actionCenterWidth"> {{'Functions.activeInactive' | translate }} </th>
                         <td mat-cell *matCellDef="let element; let i = index;" class="actionCenter">
                             <mat-slide-toggle [color]="'primary'" class="m-auto"
                                 [checked]="element.isActive === true ? true :false">
                             </mat-slide-toggle>
                         </td>
                     </ng-container>    
                     <!-- (change)="changeParentMenu($event.checked,element)" -->
                     <ng-container matColumnDef="action">
                         <th mat-header-cell *matHeaderCellDef class="actionCenter"> </th>
                         <td mat-cell *matCellDef="let element" class="pr-0 pl-0 w-4 actionCenter">
                             <!-- Add a button to trigger the menu -->
                             <button  [matMenuTriggerFor]="menu">
                                 <mat-icon>more_vert</mat-icon>
                             </button>
                             <!-- Define the menu -->
                             <mat-menu #menu="matMenu" [ngClass]="direction === 'ltr' ? 'left-4 ' : direction === 'rtl' ? 'right-4' :''">
                                 <ng-container>
                                     <button mat-menu-item (click)="editBusinessAction(element)" >{{'Functions.edit' | translate }}</button>
                                 </ng-container>                            
                             </mat-menu>
                         </td>
                     </ng-container>
 
                     <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 
                     <tr class="mat-row" *matNoDataRow>
                         <td class="mat-cell" colspan="4">{{'Functions.noDataMatching' | translate }}</td>
                     </tr>
                 </table>
                 <mat-paginator style-paginator [length]="pageLength" [pageSize]="pageSize" [showTotalPages]="3"
                     showFirstLastButtons [pageSizeOptions]="[10,20, 50]" (page)="pageChangeEvent($event)">
                 </mat-paginator>
             </div>
         </div>
    </div>
   
   <div>
    <ng-template #actionInfoDialog>
        <form [formGroup]="actionInfoForm" id="myDialog">  
            <div class="dTitleBar">
                <h1 matDialogTitle class="dTitle" *ngIf="!isUpdate">  {{'Functions.addFunction' | translate }}</h1> 
                <h1 matDialogTitle class="dTitle" *ngIf="isUpdate">  {{'Functions.updateFunction' | translate }}</h1> 
            </div>           
            <mat-dialog-content>
                <div class="mt-4">
                    <div>
                        <mat-form-field class="w-full max-w-80" [ngClass]="direction === 'ltr' ? 'ml-15' : direction === 'rtl' ? 'mr-15' :''" >
                            <mat-label>{{'Functions.functionName' | translate }}</mat-label>
                            <input matInput formControlName="name" [autocomplete]="'off'">
                            <mat-error *ngIf="actionInfoForm.get('name').hasError('required')">
                                {{'Functions.functionNameIsRequired' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>   
                    <div>
                        <mat-form-field class="w-full max-w-80" [ngClass]="direction === 'ltr' ? 'ml-15' : direction === 'rtl' ? 'mr-15' :''">
                            <mat-label> {{'Functions.functionDescription' | translate }}</mat-label>
                            <input matInput formControlName="description" [autocomplete]="'off'">  
                            <mat-error *ngIf="actionInfoForm.get('description').hasError('required')">
                                {{'Functions.functionDescriptionIsRequired' | translate }}
                            </mat-error>              
                        </mat-form-field>
                    </div> 
                    <div>
                        <mat-form-field class="w-full max-w-80" [ngClass]="direction === 'ltr' ? 'ml-15' : direction === 'rtl' ? 'mr-15' :''">
                            <mat-label>{{'Functions.displayOrder' | translate }}</mat-label>
                            <input matInput type="number" formControlName="displayOrder" appOnlynumber [autocomplete]="'off'">
                            <mat-error *ngIf="actionInfoForm.get('displayOrder').hasError('required')">
                                {{'Functions.displayOrderRequired' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>  
            </mat-dialog-content>
            <mat-dialog-actions>
                <div *ngIf="direction === 'ltr'" class="max-w-80 ml-15">
                    <button mat-flat-button [color]="'primary'" (click)="addOrUpdateAction()">
                        <span *ngIf="!isUpdate">{{'Functions.add' | translate }}</span>
                        <span *ngIf="isUpdate">{{'Functions.update' | translate }}</span>
                    </button>
                    <button mat-button matDialogClose (click)="closeDialog()">Cancel</button>                    
                </div>
                <div *ngIf="direction === 'rtl'" class="max-w-80 ml-15">                    
                    <button mat-button matDialogClose (click)="closeDialog()">Cancel</button>  
                    <button mat-flat-button [color]="'primary'" (click)="addOrUpdateAction()">
                        <span *ngIf="!isUpdate">{{'Functions.add' | translate }}</span>
                        <span *ngIf="isUpdate">{{'Functions.update' | translate }}</span>
                    </button>                  
                </div>
            </mat-dialog-actions> 
        </form>
    </ng-template>
   </div>
 </div>