<div
    class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
    <div>
        <div class="page-title justify-between flex">
            <span>Donation Status</span>
        </div>
        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-auto min-w-0 m-6">
                <div class="flex flex-col">
                    <div class="container">                       
                        <img
                            src="assets/images/ui/donation_mosque.svg"
                            alt="Donation"
                            class="flex justify-between accounts-img"
                        />
                        <div class="text-center">
                            <!-- <h2 class="text-xl font-bold mb-2">
                                {{ "User.title" | translate }}
                            </h2> -->
                            <p class="text-lg">
                            Donation Status: <span style="color: seagreen;font-weight: 500;">Success</span> 
                            </p>
                            <p class="text-sm mt-2">
                                <!-- {{ "User.stayTuned" | translate }} -->
                                <a (click)="navigateToDashboard()">click here..!</a>
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>           
        </div>        
    </div>
</div>