<div class="container donation-container">
    <!-- Header Section -->
    <!-- <div class="title-section">
        <h6>Islamic Knowledge</h6>
    </div> -->

    <!-- Title -->
    <h3 class="name_allah mt-2">
        <i class="fa fa-th-large" aria-hidden="true"></i> {{menuItems[activeIndex].label}}
    </h3>

    <div class="icon-scroll-wrapper">
        <!-- <button class="scroll-btn left" (click)="scrollIcons('left')">
            <i class="fa fa-chevron-left"></i>
        </button> -->

        <div class="icon-scroll" #iconScroll id="iconScroll">
            <div
                class="icon-item"
                #iconItem
                *ngFor="let item of menuItems; let i = index"
                (click)="navigateToPage(item.label, i)"
                [ngClass]="{ active: activeIndex === i }"
            >
                <img [src]="item.image" [alt]="item.label" />
                <div>{{ item.label }}</div>
            </div>
        </div>

        <!-- Right Arrow -->
        <!-- <button class="scroll-btn right" (click)="scrollIcons('right')">
            <i class="fa fa-chevron-right"></i>
        </button> -->
    </div>

    <div class="divider-image">
        <img src="assets/images/islamic-knowledge/devider.png" alt="divider" />
    </div>
    <div class="islamic-section">
        <h2>{{menuItems[activeIndex].label}}</h2>
        <div class="px-10">
            <img src="assets/images/islamic-knowledge/Baccan1.png" />
        </div>
        <div class="mt-6">
            <!-- Section 1 -->
            <div class="header-div">
                <h3 class="toggle-header" (click)="toggleCollapse(0)">
                    <span class="islamic-color font-semibold"
                        >NIAT SHOLAT WAJIB (FARDHU)</span
                    >
                    <span class="toggle-arrow ml-2">
                        <i
                            class="fas"
                            [ngClass]="
                                isOpen[0] ? 'fa-caret-down' : 'fa-caret-right'
                            "
                        ></i>
                    </span>
                </h3>
                <div class="collapsible-content" *ngIf="isOpen[0]">
                    <div
                        class="mb-4 border border-gray-300 rounded-xl shadow-sm px-4 py-3"
                    >
                        <div class="font-bold text-left islamic-color mb-2">
                            1. Sholat Subuh (2 rakaat)
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            أُصَلِّي فَرْضَ الصُّبْحِ رَكْعَتَيْنِ مُسْتَقْبِلَ
                            الْقِبْلَةِ أَدَاءً لِلّٰهِ تَعَالَى
                        </p>
                        <p>
                            <strong class="islamic-color"
                                >Transliterasi:</strong
                            >
                            Ushallī fardhaṣ-ṣubḥi rak‘ataini mustaqbila
                            al-qiblati adā’an lillāhi ta‘ālā
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong> Aku
                            niat sholat fardhu Subuh dua rakaat menghadap kiblat
                            karena Allah Ta‘ala.
                        </p>

                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            2. Sholat Dzuhur (4 rakaat)
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            أُصَلِّي فَرْضَ الظُّهْرِ أَرْبَعَ رَكَعَاتٍ
                            مُسْتَقْبِلَ الْقِبْلَةِ أَدَاءً لِلّٰهِ تَعَالَى
                        </p>
                        <p>
                            <strong class="islamic-color"
                                >Transliterasi:</strong
                            >
                            Ushallī fardhaẓ-ẓuḥri arba‘a rak‘ātin mustaqbila
                            al-qiblati adā’an lillāhi ta‘ālā
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong> Aku
                            niat sholat fardhu Dzuhur empat rakaat menghadap
                            kiblat karena Allah Ta‘ala.
                        </p>
                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            3. Sholat Ashar (4 rakaat)
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            أُصَلِّي فَرْضَ الْعَصْرِ أَرْبَعَ رَكَعَاتٍ
                            مُسْتَقْبِلَ الْقِبْلَةِ أَدَاءً لِلّٰهِ تَعَالَى
                        </p>
                        <p>
                            <strong class="islamic-color"
                                >Transliterasi:</strong
                            >
                            Ushallī fardhal-‘aṣri arba‘a rak‘ātin mustaqbila
                            al-qiblati adā’an lillāhi ta‘ālā
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong> Aku
                            niat sholat fardhu Ashar empat rakaat menghadap
                            kiblat karena Allah Ta‘ala.
                        </p>
                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            4. Sholat Maghrib (3 rakaat)
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            أُصَلِّي فَرْضَ الْمَغْرِبِ ثَلَاثَ رَكَعَاتٍ
                            مُسْتَقْبِلَ الْقِبْلَةِ أَدَاءً لِلّٰهِ تَعَالَى
                        </p>
                        <p>
                            <strong class="islamic-color"
                                >Transliterasi:</strong
                            >
                            Ushallī fardhal-maghribi thalātha rak‘ātin
                            mustaqbila al-qiblati adā’an lillāhi ta‘ālā
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong> Aku
                            niat sholat fardhu Maghrib tiga rakaat menghadap
                            kiblat karena Allah Ta‘ala.
                        </p>
                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            5. Sholat Isya (4 rakaat)
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            أُصَلِّي فَرْضَ الْعِشَاءِ أَرْبَعَ رَكَعَاتٍ
                            مُسْتَقْبِلَ الْقِبْلَةِ أَدَاءً لِلّٰهِ تَعَالَى
                        </p>
                        <p>
                            <strong class="islamic-color"
                                >Transliterasi:</strong
                            >
                            Ushallī fardhal-‘ishā’i arba‘a rak‘ātin mustaqbila
                            al-qiblati adā’an lillāhi ta‘ālā
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong> Aku
                            niat sholat fardhu Isya empat rakaat menghadap
                            kiblat karena Allah Ta‘ala.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Section 2 -->
            <div class="header-div">
                <h3 class="toggle-header" (click)="toggleCollapse(1)">
                    <span class="islamic-color font-semibold"
                        >NIAT SHOLAT SUNNAH</span
                    >
                    <span class="toggle-arrow ml-2">
                        <i
                            class="fas"
                            [ngClass]="
                                isOpen[1] ? 'fa-caret-down' : 'fa-caret-right'
                            "
                        ></i>
                    </span>
                </h3>
                <div class="collapsible-content" *ngIf="isOpen[1]">
                    <div
                        class="mb-4 border border-gray-300 rounded-xl shadow-sm px-4 py-3"
                    >
                        <div class="font-bold text-left islamic-color mb-2">
                            1. Sholat Tahajjud (2 rakaat)
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            أُصَلِّي سُنَّةَ التَهَجُّدِ رَكْعَتَيْنِ لِلّٰهِ
                            تَعَالَى
                        </p>
                        <p>
                            <strong class="islamic-color"
                                >Transliterasi:</strong
                            >
                            Ushallī sunnatat-tahajjudi rak‘ataini lillāhi ta‘ālā
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong> Aku
                            niat sholat sunnah tahajjud dua rakaat karena Allah
                            Ta‘ala.
                        </p>
                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            2. Sholat Dhuha (2 rakaat)
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            أُصَلِّي سُنَّةَ الضُّحَى رَكْعَتَيْنِ لِلّٰهِ
                            تَعَالَى
                        </p>
                        <p>
                            <strong class="islamic-color"
                                >Transliterasi:</strong
                            >
                            Ushallī sunnatad-duḥā rak‘ataini lillāhi ta‘ālā
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong> Aku
                            niat sholat sunnah Dhuha dua rakaat karena Allah
                            Ta‘ala.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Section 3 -->
            <div class="header-div">
                <h3 class="toggle-header" (click)="toggleCollapse(2)">
                    <span class="islamic-color font-semibold"
                        >BACAAN SHOLAT
                    </span>
                    <span class="toggle-arrow ml-2">
                        <i
                            class="fas"
                            [ngClass]="
                                isOpen[2] ? 'fa-caret-down' : 'fa-caret-right'
                            "
                        ></i>
                    </span>
                </h3>
                <div class="collapsible-content" *ngIf="isOpen[2]">
                    <div
                        class="mb-4 border border-gray-300 rounded-xl shadow-sm px-4 py-3"
                    >
                        <h3 class="mt-2">RAKAAT PERTAMA</h3>
                        <div class="font-bold text-left islamic-color mb-2">
                            1. Takbiratul Ihram
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            اللّٰهُ أَكْبَرُ
                        </p>
                        <p>
                            <strong class="islamic-color"
                                >Transliterasi:</strong
                            >
                            Allāhu Akbar
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong>
                            Allah Maha Besar
                        </p>
                        <div class="font-bold text-left islamic-color mb-2">
                            Membaca Doa Iftitah (Pilihan 1)
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            اللهُ أَكْبَرُ كَبِيرًا وَالْحَمْدُ لِلّٰهِ كَثِيرًا
                            وَسُبْحَانَ اللهِ بُكْرَةً وَأَصِيلًا. إِنِّي
                            وَجَّهْتُ وَجْهِيَ لِلَّذِي فَطَرَ السَّمَاوَاتِ
                            وَالْأَرْضَ حَنِيفًا مُسْلِمًا وَمَا أَنَا مِنَ
                            الْمُشْرِكِينَ. إِنَّ صَلَاتِي وَنُسُكِي وَمَحْيَايَ
                            وَمَمَاتِي لِلّٰهِ رَبِّ الْعَالَمِينَ. لَا شَرِيكَ
                            لَهُ وَبِذَٰلِكَ أُمِرْتُ وَأَنَا مِنَ
                            الْمُسْلِمِينَ.
                        </p>
                        <p>
                            <strong class="islamic-color">Bacaan Latin:</strong>
                            Allahu Akbar Kabīrā wal-ḥamdu lillāhi kaṡīrā, wa
                            subḥānallāhi bukratan wa aṣīlā. Inni wajjahtu
                            wajhiya lillażī faṭara as-samāwāti wal-arḍa ḥanīfan
                            musliman wa mā anā minal-musyrikīn. Inna ṣalātī wa
                            nusukī wa maḥyāya wa mamātī lillāhi rabbil-‘ālamīn.
                            Lā syarīka lahū wa biżālika umirtu wa ana
                            minal-muslimīn.
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong>
                            Allah Mahabesar lagi sempurna kebesaran-Nya, segala
                            puji bagi Allah dan Mahasuci Allah sepanjang pagi
                            dan sore. Kuhadapkan wajahku kepada Zat yang
                            menciptakan langit dan bumi dengan keadaan lurus dan
                            berserah diri, dan aku bukanlah dari golongan kaum
                            musyrik. Sesungguhnya sholatku, ibadahku, hidup dan
                            matiku hanyalah untuk Allah, Tuhan semesta alam.
                            Tiada sekutu bagi-Nya. Demikianlah aku diperintahkan
                            dan aku termasuk orang-orang muslim.
                        </p>

                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            2. Membaca Doa Iftitah (Pilihan 2)
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            اللَّهُمَّ بَاعِدْ بَيْنِي وَبَيْنَ خَطَايَايَ كَمَا
                            بَاعَدْتَ بَيْنَ الْمَشْرِقِ وَالْمَغْرِبِ.
                            اللَّهُمَّ نَقِّنِي مِنْ خَطَايَايَ كَمَا يُنَقَّى
                            الثَّوْبُ الْأَبْيَضُ مِنَ الدَّنَسِ. اللَّهُمَّ
                            اغْسِلْنِي مِنْ خَطَايَايَ بِالْمَاءِ وَالثَّلْجِ
                            وَالْبَرَدِ
                        </p>
                        <p>
                            <strong class="islamic-color">Bacaan Latin:</strong>
                            Allāhumma bā‘id bainī wa baina khaṭāyāya kamā
                            bā‘adta bainal-masyriqi wal-maghrib. Allāhumma
                            naqqinī min khaṭāyāya kamā yunaqqats-tsaubul-abyad
                            minad-danas. Allāhumma ghsilnī min khaṭāyāya
                            bil-mā’i wats-tsalji wal-barad.
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong> Ya
                            Allah, jauhkanlah aku dari kesalahan-kesalahanku
                            sebagaimana Engkau menjauhkan antara timur dan
                            barat. Ya Allah, bersihkanlah aku dari
                            kesalahan-kesalahanku sebagaimana pakaian putih
                            dibersihkan dari kotoran. Ya Allah, cucilah
                            kesalahanku dengan air, salju, dan embun es.
                        </p>

                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            3. Al-Fatihah
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            بِسْمِ اللّٰهِ الرَّحْمٰنِ الرَّحِيمِ <br />
                            ٱلْـحَمْدُ لِلّٰهِ رَبِّ ٱلْعَـٰلَمِينَ <br />
                            ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ <br />
                            مَـٰلِكِ يَوْمِ ٱلدِّينِ <br />
                            إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ <br />
                            ٱهْدِنَا ٱلصِّرَٰطَ ٱلْمُسْتَقِيمَ <br />
                            صِرَٰطَ ٱلَّذِينَ أَنْعَمْتَ عَلَيْهِمْ غَيْرِ
                            ٱلْمَغْضُوبِ عَلَيْهِمْ وَلَا ٱلضَّآلِّينَ <br />
                            آمِين
                        </p>
                        <p>
                            <strong class="islamic-color">Bacaan Latin:</strong>
                            Bismillāhir-raḥmānir-raḥīm. Al-ḥamdu lillāhi
                            rabbil-‘ālamīn. Ar-raḥmānir-raḥīm. Māliki
                            yaumid-dīn. Iyyāka na‘budu wa iyyāka nasta‘īn.
                            Ihdinaṣ-ṣirāṭal-mustaqīm. Ṣirāṭallażīna an‘amta
                            ‘alaihim, gairil-maghḍūbi ‘alaihim wa laḍ-ḍāllīn.
                            Āmīn.
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong>
                            “Dengan nama Allah Yang Maha Pengasih, Maha
                            Penyayang. Segala puji bagi Allah, Tuhan seluruh
                            alam. Yang Maha Pengasih, Maha Penyayang. Pemilik
                            hari pembalasan. Hanya kepada-Mu kami menyembah dan
                            hanya kepada-Mu kami mohon pertolongan. Tunjukilah
                            kami jalan yang lurus, yaitu jalan orang-orang yang
                            telah Engkau beri nikmat, bukan jalan mereka yang
                            dimurkai, dan bukan pula jalan mereka yang sesat.”
                        </p>
                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            4. Surat Pendek (Contoh: Al-Ikhlas)
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            قُلْ هُوَ اللّٰهُ أَحَدٌ <br />
                            اللّٰهُ الصَّمَدُ <br />
                            لَمْ يَلِدْ وَلَمْ يُولَدْ <br />
                            وَلَمْ يَكُن لَّهُ كُفُوًا أَحَدٌ
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong>
                            “Katakanlah (Muhammad), Dialah Allah Yang Maha Esa.
                            Allah tempat meminta segala sesuatu. Dia tidak
                            beranak dan tidak pula diperanakkan. Dan tidak ada
                            sesuatu yang setara dengan Dia.”
                        </p>
                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            5. Rukuk
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            سُبْحَانَ رَبِّيَ الْعَظِيمِ
                            <span dir="ltr">(3x)</span>
                        </p>
                        <p>
                            <strong class="islamic-color">Bacaan Latin:</strong>
                            Subḥāna rabbiyal-‘aẓīm
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong> Maha
                            Suci Tuhanku Yang Maha Agung
                        </p>
                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            6. I‘tidal
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            سَمِعَ اللّٰهُ لِمَنْ حَمِدَهُ
                        </p>
                        <p>
                            <strong class="islamic-color">Bacaan Latin:</strong>
                            Sami‘allāhu liman ḥamidah
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong>
                            Allah mendengar orang yang memuji-Nya
                        </p>

                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            رَبَّنَا لَكَ الْحَمْدُ
                        </p>
                        <p>
                            <strong class="islamic-color">Bacaan Latin:</strong>
                            Rabbana lakal-ḥamd
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong> Ya
                            Tuhan kami, bagi-Mu segala puji
                        </p>
                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            7. Sujud
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            سُبْحَانَ رَبِّيَ الْأَعْلَى
                            <span dir="ltr">(3x)</span>
                        </p>
                        <p>
                            <strong class="islamic-color">Bacaan Latin:</strong>
                            Subḥāna rabbiyal-a‘lā
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong> Maha
                            Suci Tuhanku Yang Maha Tinggi
                        </p>
                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            8. Duduk di Antara Dua Sujud
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            رَبِّ اغْفِرْ لِي وَارْحَمْنِي وَاجْبُرْنِي
                            وَارْفَعْنِي وَارْزُقْنِي وَاهْدِنِي وَعَافِنِي
                            وَاعْفُ عَنِّي
                        </p>
                        <p>
                            <strong class="islamic-color">Bacaan Latin:</strong>
                            Rabbi ighfir lī warḥamnī wajburnī warfa‘nī warzuqnī
                            wahdinī wa ‘āfinī wa‘fu ‘annī
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong>
                            Ya Tuhanku, ampunilah aku, rahmatilah aku,
                            cukupkanlah aku, angkat derajatku, berilah aku
                            rezeki, tunjukilah aku, sehatkanlah aku, dan maafkan
                            aku.
                        </p>
                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            9. Sujud Kedua
                        </div>
                        <p>
                            <strong class="islamic-color">Keterangan:</strong>
                            Ulang seperti sujud pertama
                        </p>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            سُبْحَانَ رَبِّيَ الْأَعْلَى
                            <span dir="ltr">(3x)</span>
                        </p>
                        <p>
                            <strong class="islamic-color">Bacaan Latin:</strong>
                            Subḥāna rabbiyal-a‘lā
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong> Maha
                            Suci Tuhanku Yang Maha Tinggi
                        </p>
                        <h3 class="mt-2">RAKAAT KEDUA</h3>
                        <p>
                            (Lanjutkan seperti rakaat pertama: Al-Fatihah +
                            surat pendek, ruku’, i’tidal dan di lanjut membaca
                            qunut, sujud dua kali)
                        </p>
                        <div class="font-bold text-left islamic-color mb-2">
                            Membaca Doa Qunut Subuh
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            اللَّهُمَّ اهْدِنِي فِيْمَنْ هَدَيْتَ، وَعَافِنِي
                            فِيْمَنْ عَافَيْتَ، وَتَوَلَّنِي فِيْمَنُ
                            تَوَلَّيْتَ، وَبَارِكْ لِي فِيْمَا أَعْطَيْتَ،
                            وَقِنِي بِرَحْمَتِكَ شَرَّمَا قَضَيْتَ، فَإِنَّكَ
                            تَقْضِي وَلَا يُقْضَى عَلَيْكَ، وَإِنَّهُ لَا
                            يَذِلُّ مَنْ وَالَيْتَ، وَلَا يَعِزُّ مَنْ عَادَيْتَ
                            ، تَبَارَكْتَ رَبَّنَا وَتَعَالَيْتَ ، فَلَكَ
                            الْحَمْدُ عَلَى مَا قَضَيْتَ، أَسْتَغْفِرُكَ
                            وَأَتُوْبُ إِلَيْكَ، وَصَلَّى اللَّهُ عَلَى
                            سَيِّدِنَا مُحَمَّدٍ النَّبِيِّ الْأُمّي وَعَلَى
                            آلِهِ وَصَحْبِهِ وَ سَلَّم
                        </p>
                        <p>
                            <strong class="islamic-color">Bacaan latin:</strong>
                            Allaahummahdinii fiiman hadaita, wa 'aafinii fiman
                            'aafaita, wa tawallanii fii man tawallaita, wa
                            baarik lii fiimaa a'thaita, wa qinii bi rahmatika
                            syarra maa qadhaita fa innaka taqdhii wa laa yuqdhaa
                            'alaika, wa innahu laa yadzillu man waalaita, wa laa
                            ya'izzu man 'adaita, tabaarakta rabbanaa wa
                            ta'aalaita, fa lakal hamdu 'alaa maa qadhaita,
                            astahgfiruka wa atuubu ilaika, wa shallallaahu 'alaa
                            sayyidinaa Muhammadin-nabiyyil ummiyyi wa 'alaa
                            alihi wa shahbihi wasallama.
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong>
                            "Ya Allah, berilah aku petunjuk seperti orang-orang
                            yang telah Engkau beri petunjuk. Berilah aku
                            kesehatan seperti orang yang telah Engkau beri
                            kesehatan. Pimpinlah aku bersama-sama orang-orang
                            yang telah Engkau berikan kepadaku. Dan peliharalah
                            aku dari kejahatan yang Engkau pastikan. Karena
                            sesungguhnya Engkaulah yang menentukan dan tidak ada
                            yang menghukum (menentukan) atas Engkau. Ssungguhnya
                            tidaklah akan hina orang-orang yang telah Engkau
                            beri kekuasaan. Dan tidaklah akan mulia orang yang
                            Engkau musuhi. Maha Berkahlah Engkau dan
                            Mahaluhurlah Engkau. Segala puji bagi-Mu atas yang
                            telah Engkau pastikan. Aku mohon ampun dan
                            kembalilah (tobat) kepada Engkau. Semoga Allah
                            memberi rahmat, berkah, dan salam atas Nabi Muhammad
                            beserta keluarganya dan sahabatnya."
                        </p>

                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            10. Tahiyyat Akhir
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            التَّحِيَّاتُ لِلّٰهِ وَالصَّلَوَاتُ
                            وَالطَّيِّبَاتُ، السَّلَامُ عَلَيْكَ أَيُّهَا
                            النَّبِيُّ وَرَحْمَةُ اللّٰهِ وَبَرَكَاتُهُ،
                            السَّلَامُ عَلَيْنَا وَعَلَىٰ عِبَادِ اللّٰهِ
                            الصَّالِحِينَ، أَشْهَدُ أَنْ لَا إِلٰهَ إِلَّا
                            اللّٰهُ، وَأَشْهَدُ أَنَّ مُحَمَّدًا رَسُولُ اللّٰهِ
                        </p>
                        <p>
                            <strong class="islamic-color">Bacaan Latin:</strong>
                            At-taḥiyyātu lillāhi waṣ-ṣalawātu waṭ-ṭayyibāt.
                            As-salāmu ‘alaika ayyuhan-nabiyyu wa raḥmatullāhi wa
                            barakātuh. As-salāmu ‘alainā wa ‘alā
                            ‘ibādillāhiṣ-ṣāliḥīn. Asyhadu allā ilāha illallāh wa
                            asyhadu anna Muḥammadan rasūlullāh.
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong>
                            “Segala kehormatan, keberkahan, rahmat dan kebaikan
                            hanya milik Allah. Keselamatan atasmu wahai Nabi dan
                            rahmat Allah serta berkah-Nya. Keselamatan bagi kami
                            dan seluruh hamba Allah yang shalih. Aku bersaksi
                            bahwa tiada Tuhan selain Allah dan aku bersaksi
                            bahwa Nabi Muhammad adalah utusan Allah.”
                        </p>
                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            11. Sholawat Nabi (Tahiyyat)
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            اللَّهُمَّ صَلِّ عَلَىٰ مُحَمَّدٍ وَعَلَىٰ آلِ
                            مُحَمَّدٍ، كَمَا صَلَّيْتَ عَلَىٰ إِبْرَاهِيمَ
                            وَعَلَىٰ آلِ إِبْرَاهِيمَ، إِنَّكَ حَمِيدٌ مَجِيدٌ،
                            اللَّهُمَّ بَارِكْ عَلَىٰ مُحَمَّدٍ وَعَلَىٰ آلِ
                            مُحَمَّدٍ، كَمَا بَارَكْتَ عَلَىٰ إِبْرَاهِيمَ
                            وَعَلَىٰ آلِ إِبْرَاهِيمَ، إِنَّكَ حَمِيدٌ مَجِيدٌ
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong>
                            “Ya Allah, limpahkanlah shalawat kepada Nabi
                            Muhammad dan keluarga Nabi Muhammad sebagaimana
                            Engkau telah melimpahkan shalawat kepada Nabi
                            Ibrahim dan keluarga Nabi Ibrahim. Berkahilah Nabi
                            Muhammad dan keluarganya sebagaimana Engkau telah
                            memberkahi Nabi Ibrahim dan keluarganya.
                            Sesungguhnya Engkau Maha Terpuji lagi Maha Mulia.”
                        </p>
                        <div
                            class="font-bold text-left islamic-color mb-2 mt-2"
                        >
                            12. Salam
                        </div>
                        <p
                            class="text-xl arabic-text text-right mb-2"
                            dir="rtl"
                        >
                            السَّلَامُ عَلَيْكُمْ وَرَحْمَةُ اللّٰهِ
                        </p>
                        <p>
                            <strong class="islamic-color">Keterangan:</strong>
                            (ke kanan dan ke kiri)
                        </p>
                        <p>
                            <strong class="islamic-color">Bacaan Latin:</strong>
                            As-salāmu ‘alaikum wa raḥmatullāh
                        </p>
                        <p>
                            <strong class="islamic-color">Artinya:</strong>
                            “Semoga keselamatan dan rahmat Allah tercurah untuk
                            kalian.”
                        </p>
                    </div>
                </div>
            </div>

            <button
                class="scroll-to-top"
                *ngIf="showScrollToTop"
                (click)="scrollToTop()"
                aria-label="Scroll to top"
            >
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
    </div>
</div>
