.box {
    width: 90px;
    height: 64px;
    background-color: #eee;
    border-radius: 10px;
    margin: 0 2px;
  }
  
  li {
    list-style-type: none;
    cursor: pointer;
  }
  
  img {
    //width: 100%;
    height: 64px;
    border-radius: 10px;
  }