<div class="container donation-container py-5">
    <div class="tab-header name_allah" (click)="goBack()">
        <i class="fa-solid fa-chevron-left"></i> Kembali
    </div>

    <div class="hajiUmrah-section pt-10">
        <div class="p-3">
            <img src="assets/images/haji-umrah/Destinasi/destinasi.png" />
        </div>
        <h2>DESTINASI</h2>
        <h3>INFO TERKINI TEMPAT DAN DESTINASI DALAM IBADAH HAJI</h3>
        <div class="p-4 hajiUmrah-section">
            <ol class="px-4">
                <!-- destinasi 1 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Jabal Uhud </strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/Destinasi/Jabal-Uhud.png"
                        />
                        <p>
                            Anda dapat menemukan objek wisata religi saat
                            melakukan Umroh di sisi utara Madinah, di mana
                            terdapat gunung megah berwarna coklat yang kokoh dan
                            menawarkan pemandangan yang menakjubkan. Tidak hanya
                            keindahannya, Gunung Uhud juga memiliki kisah
                            sejarah yang menarik.
                        </p>
                        <p>
                            Di Tanah Suci, destinasi wisata religi ini
                            sebelumnya merupakan tempat di mana terjadi perang
                            besar antara umat Muslim dan tentara Quraisy. Dekat
                            dengan Gunung Uhud, Anda juga dapat mengunjungi
                            Masjid Al-Fash, yang merupakan makam para syuhada
                            dan tempat di mana Nabi Muhammad SAW melaksanakan
                            shalat setelah Perang Uhud.
                        </p>
                    </div>
                </li>
                <!-- destinasi 2 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Jabal Rahmah </strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/Destinasi/Jabal-Rahmah.png"
                        />
                        <p>
                            Anda dapat mengunjungi Jabal Rahmah sebagai salah
                            satu destinasi wisata religi di Tanah Suci selama
                            perjalanan ibadah Umroh berikutnya. Bukit batu
                            setinggi 70 meter ini kini memiliki sebuah tugu di
                            puncaknya dan merupakan tempat di mana Nabi Adam dan
                            Siti Hawa pertama kali bertemu setelah diusir dari
                            surga. Nilai sejarah yang mendalam ini menjadi daya
                            tarik utama bagi para peziarah yang datang ke tempat
                            wisata religi yang selalu ramai dikunjungi ini.
                        </p>
                    </div>
                </li>
                <!-- destinasi 3 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Gua Hira </strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/Destinasi/Gua-Hira.png"
                        />
                        <p>
                            Gua Hira, yang merupakan gua batu kecil di Tanah
                            Suci, adalah destinasi wisata religi yang wajib
                            dikunjungi setelah menyelesaikan ibadah Umrah.
                            Tempat ini menjadi saksi dari saat-saat Nabi
                            Muhammad SAW pertama kali menerima wahyu dari Allah.
                            Akan tetapi, untuk mencapai Gua Hira, Anda harus
                            menghadapi tantangan mendaki tebing yang curam.
                            Pastikan kondisi fisik Anda dalam keadaan prima
                            sebelum memutuskan untuk mengunjungi tempat wisata
                            religi yang istimewa ini di Tanah Suci.
                        </p>
                    </div>
                </li>
                <!-- destinasi 4 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Masjid Quba </strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/Destinasi/Masjid-Quba.png"
                        />
                        <p>
                            Pertama kali dibangun oleh Nabi Muhammad SAW pada
                            tahun 1 Hijriah (622 Masehi), Masjid Quba adalah
                            salah satu masjid bersejarah yang terletak di Tanah
                            Suci dan seringkali menjadi tujuan wisata ziarah
                            bagi para peziarah setelah menunaikan ibadah Umrah.
                            Meskipun telah mengalami beberapa kali renovasi dan
                            perbaikan, masjid ini tetap menjulang dengan megah
                            dan kokoh, dan dikenal dengan ciri khas warna
                            putihnya.
                        </p>
                    </div>
                </li>
                <!-- destinasi 5 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Jabal Tsur </strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/Destinasi/Jabal-Tsur.png"
                        />
                        <p>
                            Jabal Tsur adalah lokasi di mana Nabi Muhammad SAW
                            dan Abu Bakar bersembunyi saat mereka dikejar oleh
                            kaum kafir Quraisy saat mereka hendak hijrah ke
                            Madinah. Terletak di salah satu bukit tertinggi di
                            kota Makkah, Jabal Tsur sering menjadi destinasi
                            wisata religi yang dikunjungi oleh para jamaah
                            setelah menyelesaikan Ibadah Umroh di Tanah Suci.
                        </p>
                    </div>
                </li>
                <!-- destinasi 6 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Masjid NabawI</strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/Destinasi/Masjid-Nabawi.png"
                        />
                        <p>
                            Masjid Nabawi, yang merupakan salah satu bangunan
                            masjid terbesar di dunia, adalah tempat suci kedua
                            bagi umat Muslim di seluruh dunia. Terletak di pusat
                            kota Madinah, masjid ini adalah destinasi tempat
                            wisata religi yang dapat Anda kunjungi selama
                            perjalanan Umroh ke Tanah Suci.
                        </p>
                        <p>
                            Dulu, tempat suci ini adalah rumah Nabi Muhammad SAW
                            saat beliau hijrah ke Madinah, dan juga menjadi
                            tempat peristirahatan terakhirnya bersama Abu Bakar
                            dan Umar bin Khattab.
                        </p>
                    </div>
                </li>
                <!-- destinasi 7 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Makam Baqi </strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/Destinasi/Makam-Baqi.png"
                        />
                        <p>
                            Makam Baqi, sering disebut sebagai Taman Surga atau
                            Jannat Al-Baqi, adalah lokasi pemakaman di mana
                            keluarga dan sahabat Nabi Muhammad dimakamkan.
                            Hingga saat ini, Makam Baqi tetap dihormati dan
                            sering menjadi tujuan para jamaah setelah
                            menyelesaikan ibadah Haji atau Umroh.
                        </p>
                    </div>
                </li>
                <!-- destinasi 8 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Masjid Jawatha </strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/Destinasi/Masjid-Jawatha.png"
                        />
                        <p>
                            Walau memiliki struktur yang lebih simpel dan tak
                            secemerlang Masjidil Haram atau Masjid Nabawi di
                            Tanah Suci, Masjid Jawatha adalah sebuah situs
                            bersejarah di Arab Saudi dan merupakan masjid tertua
                            di Tanah Suci.
                        </p>
                        <p>
                            Saat ini, beberapa bagian dari struktur asli
                            bangunan masjid telah direstorasi dan digantikan,
                            tetapi Masjid Jawatha tetap berdiri dengan tegar
                            sebagai tempat ibadah bagi umat Muslim.
                            Arsitekturnya yang khas juga menjadi salah satu daya
                            tarik utama dari tempat wisata religi di Arab Saudi
                            ini.
                        </p>
                    </div>
                </li>
                <!-- destinasi 9 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Jabal Magnet </strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/Destinasi/Jabal-Magnet.png"
                        />
                        <p>
                            Jabal Magnet, terletak sekitar 60 km dari pusat Kota
                            Madinah, terlihat seperti perbukitan indah yang
                            menakjubkan. Selain keindahan pemandangannya, tempat
                            wisata ini juga dikenal sebagai Mantiqotul Baido
                            oleh penduduk setempat karena memiliki medan
                            magnetik yang sangat kuat. Kekuatan magnet yang ada
                            di sini bahkan mampu menggerakkan mobil dan
                            mengacaukan kinerja jarum kompas sepenuhnya.
                        </p>
                    </div>
                </li>
                <!-- destinasi 10 -->
                <li>
                    <div class="p-3">
                        <strong class="hajiUmrah-color">Pasar Jaafaria </strong>
                        <img
                            class="pt-2"
                            src="assets/images/haji-umrah/Destinasi/Pasar-Jaafaria.png"
                        />
                        <p>
                            Mengunjungi Tanah Suci pastinya tidak akan lengkap
                            tanpa membawa pulang oleh-oleh. Untuk berbelanja,
                            Anda bisa mencoba mengunjungi Pasar Zakfariah, yang
                            hanya berjarak 1 km dari Masjidil Haram. Pasar ini
                            merupakan salah satu destinasi wisata belanja di
                            Tanah Suci yang menawarkan berbagai macam barang
                            sebagai pilihan oleh-oleh, mulai dari peralatan
                            ibadah, aksesoris, kurma, hingga peralatan
                            elektronik, dan banyak lagi.
                        </p>
                    </div>
                    <button
                        class="scroll-to-top"
                        *ngIf="showScrollToTop"
                        (click)="scrollToTop()"
                        aria-label="Scroll to top"
                    >
                        <i class="fas fa-arrow-up"></i>
                    </button>
                </li>
            </ol>
        </div>
    </div>
</div>
