.colNumeric{
    text-align: right;
    justify-content: flex-end;
}
.dd-w{
    width: 140px !important;
}
.p-s{
    width: 130px !important;
}
.mdc-text-field--no-label .mat-mdc-form-field-infix{
    padding-bottom: 0px !important;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // dim background
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // make sure it’s on top
  }
  
  .modal-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .input-field.invalid {
    border-color: red;
  }
  
  .error-text {
    color: red;
    font-size: 0.85rem;
    margin-top: 0.25rem;
  }
  
  .donation-actions {
    display: flex;
    margin-top: 1.5rem;
  }
  
  .no-button {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-left: 15px;
  }
  