<div class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="page-title justify-between flex">
        {{'RegUsers.registeredUsers' | translate}}
        <div class="page-sub-title">
            <a class="mr-1 text-xl">{{ pageLength }}</a>
            <span class="float-right"> {{'RegUsers.totalUsers' | translate}} </span>
        </div>
    </div>

    <div class=" flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pb-4 px-6 md:px-4">
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="flex flex-wrap items-end gap-4">
            <form [formGroup]="searchUsersForm" class="flex flex-wrap gap-4">
                <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-40 ml-2 mr-2" [subscriptSizing]="'dynamic'">
                    <mat-label>{{ 'RegUsers.userName' | translate }}</mat-label>
                    <input matInput formControlName="fullName" [autocomplete]="'off'"
                        placeholder="{{ 'RegUsers.userName' | translate }}" maxlength="20">
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-40 ml-2 mr-2" [subscriptSizing]="'dynamic'">
                    <mat-label>{{ 'RegUsers.email' | translate }}</mat-label>
                    <input matInput formControlName="emailId" [autocomplete]="'off'"
                        placeholder="{{ 'RegUsers.email' | translate }}" maxlength="50">
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-40 ml-2 mr-2" [subscriptSizing]="'dynamic'">
                    <mat-label>{{ 'RegUsers.phoneNumber' | translate }}</mat-label>
                    <input matInput formControlName="phoneNumber" [autocomplete]="'off'"
                        placeholder="{{ 'RegUsers.phoneNumber' | translate }}" appOnlynumber maxlength="14">
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-40 ml-2 mr-2" [subscriptSizing]="'dynamic'">
                    <mat-label>{{ 'UserRoles.roleName' | translate }}</mat-label>
                    <mat-select formControlName="roleName" placeholder="{{ 'UserRoles.roleName' | translate }}">
                        <mat-option *ngFor="let role of rolesList" [value]="role.roleId">
                            {{ role.roleName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-40 ml-2 mr-2" [subscriptSizing]="'dynamic'">
                    <mat-label>{{ 'MosqueProfile.status' | translate }}</mat-label>
                    <mat-select formControlName="userStatus" [disableOptionCentering]="true">
                        <mat-option [value]="true">Active</mat-option>
                        <mat-option [value]="false">Inactive</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Buttons beside last field -->
                <div class="flex items-center ml-2 mr-2 mt-2">
                    <button mat-flat-button color="primary" class="mr-2" (click)="SearchUsersFilter()">
                        <span class="ml-2 mr-1">{{ 'RegUsers.search' | translate }}</span>
                    </button>
                    <button mat-flat-button (click)="ResetUsersList()" style="background: beige;">
                        <span class="ml-2 mr-1">{{ 'RegUsers.reset' | translate }}</span>
                    </button>
                </div>
            </form>
        </div>

    </div>
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto sm:justify-between px-6 md:px-4">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef>  {{'RegUsers.fullName' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                </ng-container>

                <ng-container matColumnDef="mosqueName">
                    <th mat-header-cell *matHeaderCellDef>{{'RegUsers.mosqueName' | translate}}  </th>
                    <td mat-cell *matCellDef="let element" matTooltip="Info about the action">
                        <a class="flex" *ngIf="element?.userMosqueLists?.length > 0"
                            href="/dashboard/{{element?.userMosqueLists[0]?.mosqueContactGuid}}" target="_blank"><img
                                class="w-4 h-4 mt-1 ml-1" [src]="imageEndPoints?.browseIcon"> {{element?.userMosqueLists[0]?.mosqueName}}
                        </a>
                        <span *ngIf="element?.userMosqueLists?.length === 0">{{'RegUsers.registeredUser' | translate}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef> {{'RegUsers.mobileNumber' | translate}} </th>
                    <td mat-cell *matCellDef="let element" [matTooltip]="element.phoneNumber" matTooltipClass="above"> {{element.phoneNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> {{'RegUsers.emailAddress' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="cursur-pointer" [matTooltip]="element.email"> 
                         <a (click)="redirectToEmail(element.email)"> {{element?.email.length > 40 ? (element?.email | slice:0:40) + '...' : element.email}}</a> 
                    </td>
                </ng-container>
                <ng-container matColumnDef="userRole">
                    <th mat-header-cell *matHeaderCellDef> {{'RegUsers.userRole' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element?.roleName}}</td>
                </ng-container>
                <ng-container matColumnDef="createdOn">
                    <th mat-header-cell *matHeaderCellDef class="colNumeric"> {{'RegUsers.memberSince' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="colNumeric">
                        <div> {{element.createdOn | date:'dd/MM/yyyy'}} </div>
                        <div class="text-sm text-disabled"> {{element?.createdOn | date:'shortTime'}} </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="updatedOn">
                    <th mat-header-cell *matHeaderCellDef class="colNumeric"> {{'RegUsers.modifiedDate' | translate}}  </th>
                    <td mat-cell *matCellDef="let element" class="colNumeric">
                        <div> {{element.updatedOn | date:'dd/MM/yyyy'}} </div>
                        <div class="text-sm text-disabled"> {{element?.updatedOn | date:'shortTime'}} </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="deviceCount">
                    <th mat-header-cell *matHeaderCellDef class="count"> {{'RegUsers.devices' | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="count" [matTooltip]="element.devices" [matTooltipPosition]="'left'">
                        <span *ngIf="element.deviceCount >0"><a class="text-underline font-semibold">{{element.deviceCount}}</a></span><!-- {{'RegUsers.active' | translate}}-->
                        <span *ngIf="element.deviceCount == 0">{{element.deviceCount}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> {{'RegUsers.status' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        <span [ngClass]="element?.status ? (element?.status === 'Active' ? 'active' : element?.status === 'Inactive' ? '' : element?.status === 'Pending Verififcation' ? 'warning' : 'active') : ''" class="flex">
                            <img class="w-4 h-4 mt-1 ml-1" [src]="element?.status === 'Pending Verififcation' ? imageEndPoints?.pendingVerification : element?.status === 'Inactive' ? imageEndPoints?.deactive : imageEndPoints?.activeIcon">
                            {{element.status}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" class="pr-0 pl-0 w-4">
                        <!-- Add a button to trigger the menu -->
                        <button style="padding-right: revert;" [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <!-- Define the menu -->
                        <mat-menu #menu="matMenu" [ngClass]="direction === 'ltr' ? 'left-4 ' : direction === 'rtl' ? 'right-4' :''">         
                            
                            
                            <ng-container>
                                <div *ngFor="let action of currentActions?.childMenuActions">
                                    <button mat-menu-item (click)="swithUserRole(element)" *ngIf="action?.actionNameId === 'Switch_Role' && element?.status === 'Active'">{{action?.actionName}}</button>
                                    <button mat-menu-item (click)="confirmDeactiveUser(element, element?.status === 'Active' ? 'deactivate' : '')" *ngIf="action?.actionNameId === 'Activate' && element?.status === 'Active'" class="text-danger">
                                        <span class="text-danger"> {{'RegUsers.deactivate' | translate}} </span>
                                    </button>
                                    <button mat-menu-item (click)="confirmDeactiveUser(element)" *ngIf="action?.actionNameId === 'Deactivate' && element?.status === 'Inactive'" class="text-danger">
                                        <span class="text-danger"> {{'RegUsers.activate' | translate}} </span>
                                    </button>
                                </div>                                     
                             </ng-container> 
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">{{'RegUsers.noDataMatching' | translate}}</td>
                </tr>
            </table>
            <mat-paginator #paginator [length]="pageLength" [pageSize]="pageSize" [showFirstLastButtons]="true"
                showFirstLastButtons [pageSizeOptions]="[10,20, 50]" (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </div>
    <div>
        <ng-template #roleSwicthDialog>
            <form [formGroup]="roleSwitchForm" id="myDialog">  
                <div class="dTitleBar">
                    <h1 matDialogTitle class="dTitle">{{'RegUsers.switchUserRole' | translate}}</h1> 
                </div>           
                <mat-dialog-content>
                    <div class="mt-4">
                        <div>
                            <mat-form-field class="w-full max-w-80" [ngClass]="direction === 'ltr' ? 'ml-15' : direction === 'rtl' ? 'mr-15' :''">
                                <mat-label>{{'RegUsers.userName' | translate}}</mat-label>
                                <input matInput formControlName="userName" [autocomplete]="'off'" readonly>
                            </mat-form-field>
                        </div> 
                        <div>
                            <mat-form-field class="w-full max-w-80" [ngClass]="direction === 'ltr' ? 'ml-15' : direction === 'rtl' ? 'mr-15' :''">
                                <mat-label>{{'RegUsers.userCurrentRole' | translate}}</mat-label>
                                <input id="phoneNumber" matInput [formControlName]="'userCurrentRole'" readonly>
                            </mat-form-field>
                        </div> 
                        <div>
                            <mat-form-field class="w-full max-w-80" [ngClass]="direction === 'ltr' ? 'ml-15' : direction === 'rtl' ? 'mr-15' :''">
                                <mat-label>{{'RegUsers.selectRoleToSwitch' | translate}}</mat-label>
                                <mat-select formControlName="switchRoleId">
                                    <mat-option *ngFor="let type of rolesList" [value]="type.roleId">
                                        {{ type.roleName }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="roleSwitchForm.get('switchRoleId').hasError('required')">
                                    {{ "RegUsers.switchRoleIdIsRequired" | translate }}
                                </mat-error>
                            </mat-form-field>
                        </div> 
                    </div>  
                </mat-dialog-content>
                <mat-dialog-actions >
                    <div *ngIf="direction === 'ltr'" class="max-w-80 ml-15">
                        <button mat-flat-button [color]="'primary'" (click)="UpdateUserRole()">
                            <span>{{ "RegUsers.switch" | translate }}</span>
                        </button>
                        <button mat-button matDialogClose (click)="closeDialog()">{{ "RegUsers.cancel" | translate }}</button>                    
                    </div>
                    <div *ngIf="direction === 'rtl'" class="max-w-80 ml-15">                    
                        <button mat-button matDialogClose (click)="closeDialog()">{{ "RegUsers.cancel" | translate }}</button>  
                        <button mat-flat-button [color]="'primary'" (click)="UpdateUserRole()">
                            <span>{{ "RegUsers.switch" | translate }}</span>
                        </button>                  
                    </div>
                </mat-dialog-actions> 
            </form>
        </ng-template>
       </div>
   
</div>